# Dependencies
node_modules/

# Env files
.env
.env.*
api/.env*

# Allow example env files (no secrets)
!.env.example
!api/.env.example
.DS_Store

# Build artifacts
build/
dist/
.next/
out/
vite/

# Client envs
.client/.env*
.client/.env.local
client/.env.*.local


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Coverage
coverage/

# Editor
.vscode/
api/.serverless/
api/s3_test.txt